.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #f4f9f0;
}
body {
  font-family: Roboto Flex;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f94144 !important;
}
.bg-success {
  background-color: #2fd88a !important;
}
.bg-info {
  background-color: #15cdf2 !important;
}
.bg-warning {
  background-color: #ffc108 !important;
}
.bg-danger {
  background-color: #db2c3d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f94144 !important;
  border-color: #f94144 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #fb7275 !important;
  border-color: #fb7275 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fb7275 !important;
  border-color: #fb7275 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #43aa8b !important;
  border-color: #43aa8b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #60c0a3 !important;
  border-color: #60c0a3 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #60c0a3 !important;
  border-color: #60c0a3 !important;
}
.btn-info,
.btn-info:active {
  background-color: #15cdf2 !important;
  border-color: #15cdf2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #45d7f5 !important;
  border-color: #45d7f5 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #45d7f5 !important;
  border-color: #45d7f5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #2fd88a !important;
  border-color: #2fd88a !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5ae0a2 !important;
  border-color: #5ae0a2 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5ae0a2 !important;
  border-color: #5ae0a2 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc108 !important;
  border-color: #ffc108 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffce3b !important;
  border-color: #ffce3b !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffce3b !important;
  border-color: #ffce3b !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #db2c3d !important;
  border-color: #db2c3d !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e25865 !important;
  border-color: #e25865 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e25865 !important;
  border-color: #e25865 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f94144;
  color: #f94144;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #dc070a !important;
  background-color: transparent !important;
  border-color: #dc070a !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f94144 !important;
  border-color: #f94144 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #43aa8b;
  color: #43aa8b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2a6c58 !important;
  background-color: transparent !important;
  border-color: #2a6c58 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #43aa8b !important;
  border-color: #43aa8b !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #15cdf2;
  color: #15cdf2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #098da7 !important;
  background-color: transparent !important;
  border-color: #098da7 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #15cdf2 !important;
  border-color: #15cdf2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #2fd88a;
  color: #2fd88a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1c945d !important;
  background-color: transparent !important;
  border-color: #1c945d !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2fd88a !important;
  border-color: #2fd88a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc108;
  color: #ffc108;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b08400 !important;
  background-color: transparent !important;
  border-color: #b08400 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffc108 !important;
  border-color: #ffc108 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #db2c3d;
  color: #db2c3d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #971a26 !important;
  background-color: transparent !important;
  border-color: #971a26 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #db2c3d !important;
  border-color: #db2c3d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f94144 !important;
}
.text-secondary {
  color: #43aa8b !important;
}
.text-success {
  color: #2fd88a !important;
}
.text-info {
  color: #15cdf2 !important;
}
.text-warning {
  color: #ffc108 !important;
}
.text-danger {
  color: #db2c3d !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ce060a !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #26614f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #198855 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #088099 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a17900 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #8a1723 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f94144;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #15cdf2;
}
.alert-warning {
  background-color: #ffc108;
}
.alert-danger {
  background-color: #db2c3d;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f94144;
  border-color: #f94144;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f94144;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #dbf8eb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d6f6fd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff4d4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f9dadd;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f94144 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #f94144;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f94144;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f94144;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f94144;
  border-bottom-color: #f94144;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f94144 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #43aa8b !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f94144' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-ucGi5e2Ik0 {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-ucGi5e2Ik0 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-ucGi5e2Ik0 .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-ucGi5e2Ik0 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ucGi5e2Ik0 .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-ucGi5e2Ik0 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ucGi5e2Ik0 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ucGi5e2Ik0 .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-ucGi5e2Ik0 .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-ucGi5e2Ik0 .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-ucGi5e2Ik0 .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-ucGi5e2Ik0 .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-ucGi5e2Ik0 .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-ucGi5e2Ik0 .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-ucGi5e2Ik0 .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-ucGi5e2Ik0 .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-ucGi5e2Ik0 .nav-link {
  width: fit-content;
  position: relative;
}
.cid-ucGi5e2Ik0 .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-ucGi5e2Ik0 .navbar-logo {
    padding-left: 0;
  }
}
.cid-ucGi5e2Ik0 .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-ucGi5e2Ik0 .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-ucGi5e2Ik0 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-ucGi5e2Ik0 .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-ucGi5e2Ik0 .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ucGi5e2Ik0 .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-ucGi5e2Ik0 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ucGi5e2Ik0 .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-ucGi5e2Ik0 .nav-item:focus,
.cid-ucGi5e2Ik0 .nav-link:focus {
  outline: none;
}
.cid-ucGi5e2Ik0 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ucGi5e2Ik0 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ucGi5e2Ik0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ucGi5e2Ik0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ucGi5e2Ik0 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ucGi5e2Ik0 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ucGi5e2Ik0 .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-ucGi5e2Ik0 .navbar.opened {
  transition: all 0.3s;
}
.cid-ucGi5e2Ik0 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ucGi5e2Ik0 .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-ucGi5e2Ik0 .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-ucGi5e2Ik0 .navbar.collapsed {
  justify-content: center;
}
.cid-ucGi5e2Ik0 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ucGi5e2Ik0 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-ucGi5e2Ik0 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-ucGi5e2Ik0 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ucGi5e2Ik0 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ucGi5e2Ik0 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ucGi5e2Ik0 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ucGi5e2Ik0 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ucGi5e2Ik0 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-ucGi5e2Ik0 .navbar {
    min-height: 72px;
  }
  .cid-ucGi5e2Ik0 .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-ucGi5e2Ik0 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ucGi5e2Ik0 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ucGi5e2Ik0 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-ucGi5e2Ik0 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ucGi5e2Ik0 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ucGi5e2Ik0 .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-ucGi5e2Ik0 .dropdown-item.active,
.cid-ucGi5e2Ik0 .dropdown-item:active {
  background-color: transparent;
}
.cid-ucGi5e2Ik0 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ucGi5e2Ik0 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ucGi5e2Ik0 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ucGi5e2Ik0 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ucGi5e2Ik0 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-ucGi5e2Ik0 .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-ucGi5e2Ik0 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ucGi5e2Ik0 .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-ucGi5e2Ik0 .navbar-buttons {
    text-align: left;
  }
}
.cid-ucGi5e2Ik0 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ucGi5e2Ik0 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-ucGi5e2Ik0 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ucGi5e2Ik0 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ucGi5e2Ik0 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ucGi5e2Ik0 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ucGi5e2Ik0 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ucGi5e2Ik0 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ucGi5e2Ik0 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ucGi5e2Ik0 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ucGi5e2Ik0 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-ucGi5e2Ik0 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ucGi5e2Ik0 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-ucGi5e2Ik0 .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ucGi5e2Ik0 .navbar {
    height: 70px;
  }
  .cid-ucGi5e2Ik0 .navbar.opened {
    height: auto;
  }
  .cid-ucGi5e2Ik0 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-ucGi5e2Ik0 .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-ucGi5e2Ik0 .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-ucGi5e2Ik0 .navbar-brand {
    margin-right: auto;
  }
  .cid-ucGi5e2Ik0 .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-ucGi5e2Ik0 .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-ucGi5e2Ik0 .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-ucGi5e2Ik0 .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-ucGi5e2Ik0 .navbar-collapse {
    padding: 1rem;
  }
}
.cid-ucGi5e2Zlj {
  display: flex;
  background-image: url("../../../assets/images/photo-1580893206515-2fc3e8a2aa96.jpeg");
}
.cid-ucGi5e2Zlj .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-ucGi5e2Zlj {
    align-items: flex-end;
  }
  .cid-ucGi5e2Zlj .row {
    justify-content: center;
  }
  .cid-ucGi5e2Zlj .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-ucGi5e2Zlj .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-ucGi5e2Zlj {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-ucGi5e2Zlj .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-ucGi5e2Zlj .content-wrap {
    width: 100%;
  }
}
.cid-ucGi5e2Zlj .mbr-section-title,
.cid-ucGi5e2Zlj .mbr-section-subtitle {
  text-align: center;
}
.cid-ucGi5e2Zlj .mbr-text,
.cid-ucGi5e2Zlj .mbr-section-btn {
  text-align: center;
}
.cid-ucGi5e4EVa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ucGi5e4EVa .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5e4EVa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-ucGi5e4EVa .card-content-text {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-ucGi5e4EVa .card-content-text {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-ucGi5e4EVa .card-content-text {
    padding: 4rem 4rem 1rem 4rem;
  }
}
.cid-ucGi5e4EVa .card-wrapper {
  background: #ffffff;
}
.cid-ucGi5e4EVa .mbr-text,
.cid-ucGi5e4EVa .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-ucGi5e4EVa .card-title,
.cid-ucGi5e4EVa .card-box {
  text-align: left;
  color: #000000;
}
.cid-ucGi5e5YYv {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-ucGi5e5YYv .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-ucGi5e5YYv img,
.cid-ucGi5e5YYv .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ucGi5e5YYv .item:focus,
.cid-ucGi5e5YYv span:focus {
  outline: none;
}
.cid-ucGi5e5YYv .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ucGi5e5YYv .item {
    margin-bottom: 1rem;
  }
}
.cid-ucGi5e5YYv .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-ucGi5e5YYv .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ucGi5e5YYv .mbr-section-title {
  color: #000000;
}
.cid-ucGi5e5YYv .mbr-text,
.cid-ucGi5e5YYv .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-ucGi5e5YYv .item-title {
  color: #000000;
  text-align: center;
}
.cid-ucGi5e5YYv .content-head {
  max-width: 800px;
}
.cid-ucGi5e5evl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ucGi5e5evl .mbr-text {
  color: #000000;
}
.cid-ucGi5e5evl .mbr-section-subtitle {
  color: #000000;
}
.cid-ucGi5e5evl .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-ucGi5e5evl .mbr-text,
.cid-ucGi5e5evl .item .mbr-section-btn {
  text-align: left;
}
.cid-ucGi5e5evl .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ucGi5e5evl .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ucGi5e5evl .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-ucGi5e5MDD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ucGi5e5MDD .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-ucGi5e5MDD .item-wrapper {
  margin-bottom: 2rem;
}
.cid-ucGi5e5MDD .card-title,
.cid-ucGi5e5MDD .iconfont-wrapper {
  color: #000000;
}
.cid-ucGi5e5MDD .card-text {
  color: #000000;
  text-align: center;
}
.cid-ucGi5e5MDD .content-head {
  max-width: 800px;
}
.cid-ucGi5e5MDD .mbr-section-title {
  color: #000000;
}
.cid-ucGi5e5MDD .card-title,
.cid-ucGi5e5MDD .img-wrapper {
  text-align: center;
}
.cid-ucGi5e5MDD .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-ucGi5e6965 {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-ucGi5e6965 .row {
  flex-direction: row-reverse;
}
.cid-ucGi5e6965 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5e6965 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5e6965 .mbr-side-description {
  text-align: left;
}
.cid-ucGi5e6RDg {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: transparent;
}
.cid-ucGi5e6RDg .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5e6RDg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5e6RDg .row-reverse {
  flex-direction: row-reverse;
}
.cid-ucGi5e6RDg .row {
  flex-direction: row-reverse;
}
.cid-ucGi5e6RDg .row-reverse {
  flex-direction: row;
}
@media (max-width: 991px) {
  .cid-ucGi5e6RDg .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-ucGi5e6RDg .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-ucGi5e6RDg .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-ucGi5e6RDg .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-ucGi5e6RDg .mbr-section-title {
  color: #000000;
}
.cid-ucGi5e6RDg .mbr-text,
.cid-ucGi5e6RDg .mbr-section-btn {
  color: #000000;
}
.cid-ucGi5e6RDg img {
  width: 100%;
  object-fit: cover;
  height: 30rem;
}
@media (max-width: 767px) {
  .cid-ucGi5e6RDg img {
    height: 15rem;
  }
}
.cid-ucGi5e7qzY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-ucGi5e7qzY .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5e7qzY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-ucGi5e7qzY .container-fluid {
    padding: 0;
  }
}
.cid-ucGi5e7qzY .embla__button--next,
.cid-ucGi5e7qzY .embla__button--prev {
  display: flex;
}
.cid-ucGi5e7qzY .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-ucGi5e7qzY .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-ucGi5e7qzY .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-ucGi5e7qzY .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-ucGi5e7qzY .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ucGi5e7qzY .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ucGi5e7qzY .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-ucGi5e7qzY .embla {
  position: relative;
  width: 100%;
}
.cid-ucGi5e7qzY .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-ucGi5e7qzY .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ucGi5e7qzY .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ucGi5e7qzY .embla__slide a {
  cursor: grab;
}
.cid-ucGi5e7qzY .embla__slide a:active {
  cursor: grabbing;
}
.cid-ucGi5e7qzY .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-ucGi5e7qzY .embla__slide {
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-ucGi5e7qzY .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-ucGi5e7qzY .embla__slide a {
  display: block;
  width: 100%;
}
.cid-ucGi5e7qzY .item-menu-overlay {
  border-radius: 2rem;
}
.cid-ucGi5e7qzY .mbr-section-title {
  color: #232323;
}
.cid-ucGi5e7qzY .mbr-section-subtitle {
  color: #232323;
}
.cid-ucGi5e7qzY .mbr-box {
  color: #ffffff;
}
.cid-ucGi5e7qzY .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-ucGi5e7qzY img,
.cid-ucGi5e7qzY .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ucGi5e7qzY .item-wrapper {
  position: relative;
}
.cid-ucGi5e7qzY .content-head {
  max-width: 800px;
}
.cid-ucGi5e8w9K {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ucGi5e8w9K img,
.cid-ucGi5e8w9K .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ucGi5e8w9K .item:focus,
.cid-ucGi5e8w9K span:focus {
  outline: none;
}
.cid-ucGi5e8w9K .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ucGi5e8w9K .item {
    margin-bottom: 1rem;
  }
}
.cid-ucGi5e8w9K .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ucGi5e8w9K .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-ucGi5e8w9K .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-ucGi5e8w9K .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-ucGi5e8w9K .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-ucGi5e8w9K .mbr-section-title {
  color: #000000;
}
.cid-ucGi5e8w9K .item-title {
  text-align: left;
}
.cid-ucGi5e8w9K .item-subtitle {
  text-align: left;
}
.cid-ucGi5e8w9K .mbr-text,
.cid-ucGi5e8w9K .item .mbr-section-btn {
  text-align: left;
}
.cid-ucGi5e8w9K .content-head {
  max-width: 800px;
}
.cid-ucGi5e9knx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ucGi5e9knx .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5e9knx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5e9knx .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-ucGi5e9knx .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-ucGi5e9knx .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-ucGi5e9knx .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-ucGi5e9knx .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-ucGi5e9knx .row {
  flex-direction: row-reverse;
}
.cid-ucGi5e9knx .image-wrapper {
  padding: 0 1rem;
}
.cid-ucGi5e9knx img,
.cid-ucGi5e9knx .image-wrapper {
  height: 600px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-ucGi5e9knx img,
  .cid-ucGi5e9knx .image-wrapper {
    max-height: 350px;
  }
}
.cid-ucGi5e9knx .mbr-section-title {
  color: #000000;
}
.cid-ucGi5e9knx .mbr-text {
  color: #000000;
}
.cid-ucGi5e9BvQ {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-ucGi5e9BvQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5e9BvQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5e9BvQ .title .num {
  width: 100%;
  display: block;
}
.cid-ucGi5e9BvQ .title .card-title {
  z-index: 1;
}
.cid-ucGi5e9BvQ .num {
  color: #F94144;
  text-align: center;
}
.cid-ucGi5e9BvQ .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ucGi5e9BvQ * {
    text-align: center !important;
  }
  .cid-ucGi5e9BvQ .content-column {
    margin-bottom: 2rem;
  }
}
.cid-ucGi5e9BvQ .content-head {
  max-width: 800px;
}
.cid-ucGi5e9BvQ .card-text {
  text-align: center;
}
.cid-ucGi5e9BvQ .card-title,
.cid-ucGi5e9BvQ .card-img {
  text-align: center;
}
.cid-ucGi5ea7lr {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ucGi5ea7lr .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5ea7lr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5ea7lr .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-ucGi5ea7lr .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-ucGi5ea7lr .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-ucGi5ea7lr .card-wrapper {
    padding: 4rem;
  }
}
.cid-ucGi5ea7lr .mbr-text,
.cid-ucGi5ea7lr .mbr-section-btn {
  text-align: center;
}
.cid-ucGi5easSP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ucGi5easSP .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5easSP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5easSP .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-ucGi5easSP .bg-facebook:hover {
  background: #0b60cb;
}
.cid-ucGi5easSP .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-ucGi5easSP .bg-twitter:hover {
  background: #0c85d0;
}
.cid-ucGi5easSP .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-ucGi5easSP .bg-instagram:hover {
  background: #bd005c;
}
.cid-ucGi5easSP .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-ucGi5easSP .bg-tiktok:hover {
  background: #000000;
}
.cid-ucGi5easSP .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-ucGi5easSP [class^="socicon-"]:before,
.cid-ucGi5easSP [class*=" socicon-"]:before {
  line-height: 55px;
  padding: 0.6rem;
}
.cid-ucGi5eaTM2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ucGi5eaTM2 .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-ucGi5eaTM2 img,
.cid-ucGi5eaTM2 .item-img {
  width: 100%;
}
.cid-ucGi5eaTM2 .item:focus,
.cid-ucGi5eaTM2 span:focus {
  outline: none;
}
.cid-ucGi5eaTM2 .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-ucGi5eaTM2 .item {
    margin-bottom: 1rem;
  }
}
.cid-ucGi5eaTM2 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-ucGi5eaTM2 .mbr-section-title {
  color: #000000;
}
.cid-ucGi5eaTM2 .mbr-text,
.cid-ucGi5eaTM2 .mbr-section-btn {
  color: #000000;
}
.cid-ucGi5eaTM2 .item-title {
  color: #000000;
  text-align: center;
}
.cid-ucGi5eaTM2 .content-head {
  max-width: 800px;
}
.cid-ucGi5eaTM2 img {
  filter: grayscale(1);
}
.cid-ucGi5eayZl {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-ucGi5eayZl .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-ucGi5eayZl form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-ucGi5eayZl form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-ucGi5eayZl form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-ucGi5eayZl .content-head {
  max-width: 800px;
}
.cid-ucGi5eaKvE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ucGi5eaKvE .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5eaKvE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5eaKvE .mbr-text {
  color: #000000;
}
.cid-ucGi5eaKvE .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-ucGi5eaKvE .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ucGi5eaKvE .main-button {
    margin-bottom: 2rem;
  }
}
.cid-ucGi5eaKvE .mbr-section-subtitle,
.cid-ucGi5eaKvE .main-button {
  color: #000000;
}
.cid-ucGi5eaKvE .google-map {
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}
.cid-ucGi5eaKvE .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-ucGi5eaKvE .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-ucGi5eaKvE .google-map[data-state] {
  background: #e9e5dc;
}
.cid-ucGi5eaKvE .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-ucGi5ea9Nl {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-ucGi5ea9Nl .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucGi5ea9Nl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucGi5ea9Nl .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-ucGi5ea9Nl .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-ucGi5ea9Nl .row {
    flex-direction: column-reverse !important;
  }
  .cid-ucGi5ea9Nl .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-ucGi5ea9Nl .row-links {
  width: 100%;
  justify-content: center;
}
.cid-ucGi5ea9Nl .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-ucGi5ea9Nl .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-ucGi5ea9Nl .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-ucGi5ea9Nl .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-ucGi5ea9Nl .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-ucGi5ea9Nl .copyright {
    text-align: center;
  }
}
